@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    width: 100vw;
    height: 12vh;
}

.Header-site{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
#imageL{
    display: flex;
    width: 25vw;
    position: relative;
    bottom: 5vw;
    right: 18vh;
}
.cate {
    display: flex;
    align-items: center;
}
.cate .inB{
    width: 20vw;
    height: 4vh;
    cursor: text;
    position: relative;
    bottom: 5vw;
    right: 8vh;
}
.cate .inB::placeholder{
    color: rgb(0, 0, 0);
}

.cate .inB:hover{
    border: 1px solid rgb(216, 148, 2);
}
#iconB{
    position: relative;
    bottom: 5vw;
    right: 8vh;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}
#iconB:hover{
    transform: scale(1.0);
    color: orange;
}
#iconC{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
#iconC:hover{
    transform: scale(1.0);
    color: orange;
}

.cate ul {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    bottom: 5vw;
}

.item {
    margin: 0 15px;
}

.link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.link:hover{
    transform: scale(1.0);
    color: orange;
}


.btnCad button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color:rgb(10, 136, 136) ;
}

.btnCad button a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
}
.btnCad button:hover{
    transform: scale(1.0);
    background-color: orange;
}
.btnCad button a:hover {
    transform: scale(1.0);
}

.prod{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}